.containerModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: '100%';
}

.barcodeModal {
  display: flex;
  flex-direction: column;
  justify-content: 'center';
  align-items: top;
  width: 30%;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 100px;
  padding: 15px;
}

.iconClose {
  display: flex;
  justify-content: flex-end;
}
