.qrBlock {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.qrElement {
  margin: 0 30px 0 30px;
}
.qrNoPrint {
  display: none;
}
input {
  width: 50px;
}
.info {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}
.infoBold {
  font-weight: 800;
}
.QRimage {
  width: 305px;
  height: 320px;
}
.infoBlock {
  width: 250px;
  padding: 30px;
  overflow: hidden;
}
