.root {
  flex-grow: 1;
  
}

.toolbar{
  justify-content: space-between;
}

.icon{
  cursor: pointer;
}

.nav {
  display: "flex";
  flex-wrap: "wrap";
}

.tab {
  margin: 0 25px !important;

  a {
    color: #FFFFFF;
    text-decoration: none;
  }
}
